body {
    margin: 0;
    background: #111;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gl-canvas {
    flex: 1;
    height: 100vh;
    border: 4px solid antiquewhite;
    box-sizing: border-box;
    display: block;
}

#ui-panel {
    width: 260px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-left: 2px solid #444;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}