button {
  background-color: #4c79ff;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


button:hover {
  background-color: #3a63d9;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

button:active {
  background-color: #2f51b3;
  transform: translateY(0);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}

body {
  margin: 0;
  background: #111;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gl-canvas {
  flex: 1;
  height: 100vh;
  border: 4px solid antiquewhite;
  box-sizing: border-box;
  display: block;
}

#ui-panel {
  font-family: "Roboto Condensed", sans-serif;
  width: 16.5rem;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 10px;
  border-left: 2px solid #444;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
}

#ui-panel label {
  margin-bottom: 6px;
  display: block;
}

#ui-panel .control-group {
  margin-bottom: 14px;
}

input[type="range"] {
  accent-color: #4c79ff;
  height: 4px;
}

input[type="color"] {
  width: 40px;
  height: 32px;
  padding: 0;
  border-radius: 6px;
  border: 2px solid #aaa;
  background: #222;
}

input[type="color"]:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.colorText {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

#startBtn {
  width: 160px;         
  display: flex;        
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  text-align: center;    
}

#startBtn:hover {
  background-color: #2ecf8b;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}

#startBtn:active {
  background-color: #028a57;
  transform: translateY(0);
}

#startBtn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #003BE0 0%, #E00019 100%);
  background-attachment: fixed;
}
